{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.username, {'label': 'Identifiant', 'attr': {'placeholder': 'Identifiant'}}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Adresse mail'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}

    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}

{% endblock %}