{% extends 'baseFront.html.twig' %}

{% block title %}LIVAC{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.min.320.css">
    <link rel="stylesheet" href="../css/style.min.768.css">
    <link rel="stylesheet" href="../css/style.pad.1112.css">
{% endblock %}

{% block body %}
<br /><br /><br />


    <div class="jumbotron"><a href="{{ path('api') }}" id="header">
        <h1 class="display-3">Actualités du jour</h1>
        {# <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> #}
    </a></div>
    <div class="main-wrapper">
        <div class="row">
            <div class="col-7">
                <div class="main">
                    <diaporama></diaporama>
    
                    {% for article in articles %}
                        <div class="main-articles main">
                            <div class="jumbotron">
                                <a href="{{ path('show', {'id': article.id}) }}">
                                    <h1 class="display-3">{{ article.title }}</h1>
                                </a>
                                <div class="article-infos">
                                    <small>Auteur : {{ article.author }}</small> |
                                    <small>Publié le : {{ article.createdAt | date('d/m/Y') }}</small>
                                    <br/>
                                    <small>Catégorie : {{ article.category.title }}</small>
                                    {# <small>Section : {{ article.section.title }}</small> #}
                                </div>
                                <hr class="my-4">
                                <p class="lead">{{ article.entete}}</p>
                                {# <p>It uses utility classes for typography and spacing to space content out within the
                                    larger container.</p> #}
                                    <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="">
                            </div>
                            <hr class="my-4">
                        </div>
    
                    <br /><br />
                    {% endfor %}

                </div>
            </div>

    
            <div class="col-4">
                <div class="side">
                    <div class="a-lire">
                        <h5>À lire :</h5>
                        <div class="list-group">
                            {% for aLire in aLire %}
                            <a href="{{ path('show', {'id': aLire.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ aLire.title }}</h5>
                                    <small>{{ aLire.createdAt | date('d/m/Y') }}</small>
                                </div>
                                <p class="mb-1">{{ aLire.entete }}</p>
                                <small class="text-muted">{{ aLire.author }}</small>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
    
                    <br /><br /><br /><br /><br /><br />
    
                    <div class="categories">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">CATÉGORIES :</a>
                            {% for category in allCategories %}
                            <a href="#" class="list-group-item list-group-item-action">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <br /><br /><br /><br /><br /><br />

                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">Nous contacter :</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action action">Morbi leo risus</a>
                      </div>

                </div>
            </div>

        </div>

        <div class="sections">
            <div class="section-row">
                <div class="col-3">
                    <div>
                        <h4>Politique :</h4>
                        {% for articlesPolitique in articlesPolitique %}
                            <div class="list-group">
                                <a href="{{ path('show', {'id': articlesPolitique.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    {# <div class="d-flex w-100 justify-content-between"> #}
                                        <h5 class="mb-1">{{ articlesPolitique.title }}</h5>
                                        <small class="text-muted">{{ articlesPolitique.entete }}</small>
                                    {# </div> #}
                                    {# <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                    </p>
                                    <small class="text-muted">Donec id elit non mi porta.</small> #}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <h4>Juridique :</h4>
                        {% for articlesJuridique in articlesJuridique %}
                            <div class="list-group">
                                <a href="{{ path('show', {'id': articlesJuridique.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    {# <div class="d-flex w-100 justify-content-between"> #}
                                        <h5 class="mb-1">{{ articlesJuridique.title }}</h5>
                                        <small class="text-muted">{{ articlesJuridique.entete }}</small>
                                    {# </div> #}
                                    {# <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                    </p>
                                    <small class="text-muted">Donec id elit non mi porta.</small> #}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <h4>Économie :</h4>
                        {# {% for articlesDroitsFamille in articlesDroitsFamille %}
                            <div class="list-group">
                                <a href="{{ path('show', {'id': articlesDroitsFamille.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    {# <div class="d-flex w-100 justify-content-between"> #}
                                        {# <h5 class="mb-1">{{ articlesDroitsFamille.title }}</h5> #}
                                        {# <small class="text-muted">{{ articlesDroitsFamille.entete }}</small> #}
                                    {# </div> #}
                                    {# <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                    </p>
                                    <small class="text-muted">Donec id elit non mi porta.</small> #}
                                {#</a>
                            </div>
                        {% endfor %} #}
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <h4>Société :</h4>
                        {% for articlesSociété in articlesSociété %}
                            <div class="list-group">
                                <a href="{{ path('show', {'id': articlesSociété.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    {# <div class="d-flex w-100 justify-content-between"> #}
                                        <h5 class="mb-1">{{ articlesSociété.title }}</h5>
                                        <small class="text-muted">{{ articlesSociété.entete }}</small>
                                    {# </div> #}
                                    {# <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                    </p>
                                    <small class="text-muted">Donec id elit non mi porta.</small> #}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>



    <br/><br/><br/>

{% endblock %}
