{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <br/>

    {% for article in articles %}
        <article>
            <h3>{{ article.title }}</h3>
            <div class="metadata">
                Écrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}}
            </div>

            <br/> 

            <div class="content">
                <img src="{{ article.image }}" alt="">
                <br/>
                {{ article.entete | raw }}
            </div>
            <a href="{{ path('back_edit', {'id': article.id}) }}" class="btn btn-primary">Modifier</a>
        </article>
        <br/>
        <br/>
        <br/>
    {% endfor %}
{% endblock %}
