{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.min.320.css">
    <link rel="stylesheet" href="../css/style.min.768.css">
    <link rel="stylesheet" href="../css/style.pad.1112.css">
{% endblock %}

{% block body %}

    <br/>

    {% for article in articles %}
        <article>
            <h1>{{ article.title }}</h1>
            <div class="metadata">
                Écrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}}
                <br/>
                Catégorie : {{ article.category.title }}
                <br/>
                {{ article.author }}
            </div>

            <div class="content">
                <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="">
                <br/>
                {{ article.entete | raw }}
            </div>
            <br/>
            <a href="{{ path('back_edit', {'id': article.id}) }}" class="btn btn-primary">Modifier</a>
        </article>
        <br/>
        <br/>
        <br/>
    {% endfor %}
{% endblock %}
