{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.min.320.css">
    <link rel="stylesheet" href="../css/style.min.768.css">
    <link rel="stylesheet" href="../css/style.pad.1112.css">
{% endblock %}

{% block body %}

    <br/>

    <div class="edit-container">
    {% for article in articles %}
            <article class="col-4">
                <div class="card mb-3">
                    <h3 class="card-header">{{ article.title }}</h3>
                    <div class="card-body">
                        <div class="metadata">
                            Écrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}}
                            <br />
                            Catégorie : {{ article.category.title }}
                            <br />
                            {{ article.author }}
                        </div>
                    </div>
                    <div class="content">
                        <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ article.entete | raw }}</p>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('back_edit', {'id': article.id}) }}" class="btn btn-primary">Modifier</a>
                    </div>
                </div>
            </article>
            <br/>
            <br/>
            <br/>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="../js/main.js"></script>
    
{% endblock %}
