{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style.min.320.css">
    <link rel="stylesheet" href="css/style.min.768.css">
    <link rel="stylesheet" href="css/style.pad.1112.css">
{% endblock %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        Modification de l'article
    </h1>


    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'label':"Titre", 'attr': {'placeholder': "Titre de l'article"}}) }}
    
    {{ form_row(formArticle.entete, {'label': "En-tête", 'attr': {'placeholder': "Entête de l'article"}}) }}
    
    {{ form_row(formArticle.image) }}

    <img src="/uploads/images/{{ article.image }}">
    
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
    
    {{ form_row(formArticle.author, {'label':"Auteur", 'attr': {'placeholder': "Auteur de l'article"}}) }}
    
    {{ form_row(formArticle.category, {'label': "Catégorie de l'article", 'attr': {'placeholder': "Catégorie de l'article"}}) }}

    {{ form_row(formArticle.section, {'label': "Section de l'article", 'attr': {'placeholder': "CatéSection de l'article"}}) }}

    <button type="submit" class="btn btn-success">
        Enregistrer les modifications
    </button>
    
            {# <a href="{{ path('back_delete', {'id': id }) }}" class="btn btn-danger" id="delete">
                Supprimer l'article
            </a> #}

        <br/><br/>

    {{ form_end(formArticle) }}

{% endblock %}

{% block javascripts %}
    <script src="../../js/main.js"></script>
    
{% endblock %}
