{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.min.320.css">
    <link rel="stylesheet" href="../css/style.min.768.css">
    <link rel="stylesheet" href="../css/style.pad.1112.css">
{% endblock %}

{% block body %}

    <h1>Modifier une catégorie </h1>
    
    {{ form_start(formCategory) }}
    
    {{ form_row(formCategory.title, {'label':"Titre", 'attr': {'placeholder': "Titre de la catégorie"}}) }}
    
    <button type="submit" class="btn btn-success"> Modifier la catégorie</button>
    
    {{ form_end(formCategory) }}
    
    <br />
    <br />
    
    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col">Articles</th>
                <th scope="col">Auteur</th>
                <th scope="col">Date</th>
            </tr>
        </thead>

        {% for ArticlePerCategory in listArticlesPerCategory %}
            <tbody>
                <tr>
                    <th scope="row">{{ ArticlePerCategory.title }}</th>
                    <th scope="row">{{ ArticlePerCategory.author }}</th>
                    <th scope="row">{{ ArticlePerCategory.createdAt | date('d/m/Y') }}</th>
                </tr>
            </tbody>
        {% endfor %}

    </table>

{% endblock %}