{% extends 'baseFront.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.min.320.css">
    <link rel="stylesheet" href="../css/style.min.768.css">
    <link rel="stylesheet" href="../css/style.pad.1112.css">
{% endblock %}

{% block body %}
<br /><br />

<article class="col-10">
    <h1 class="article-seul">{{ article.title }}</h1>
    <div class="metadata">
        Écrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}}
        <br />
        Catégorie : {{ article.category.title }}
        <br />
        Auteur : {{ article.author }}
        <br />
    </div>

    <div class="content">
        <img src="{{ asset('uploads/images/' ~ article.image) }}" class="show-article-img" alt="">
        <br />
        {{ article.entete | raw }}
    </div>

    <br />

    <div class="contenu">
        {{ article.content | raw }}
    </div>
</article>

<br/><br/><br/>

<div class="formComments">
    <h3>Commentaires :</h3>
    {{ form_start(formComment) }}

    {{ form_row(formComment.author, {'label':"Nom", 'attr': {'placeholder': "Nom"}}) }}

    {{ form_row(formComment.content, {'label': "Content", 'attr': {'placeholder': "Commentaire"}}) }}

    <button type="submit" class="btn btn-success">Poster</button>

    {{ form_end(formComment) }}

</div>

<br/><br/><br/>

<div class="commentList">
    {% for comment in article.comments %}
        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <p class="mb-1">{{ comment.content }}</p>
                <div class="d-flex w-100 justify-content-between">
                    <small>{{ comment.author }}</small>
                    <small>{{ comment.createdAt | date('d/m/Y')}} à {{ comment.createdAt | date('H:i')}}</small>
                </div>
                <br>
                {% if comment.signalement == 1 %}
                    <div class="alert alert-dismissible alert-primary">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Le commentaire a été signalé</strong>
                    </div>
                {% else %}
                    <a href="/comment/{{ article.id }}/{{ comment.id }}/report" class="btn btn-outline-danger btn-sm">Signaler le commentaire</a>
                {% endif %}
            </div>
        </div>
        <br/>
    {% endfor %}
</div>

<br/><br/><br/>

{% endblock %}