{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>{{ article.title }}</h1>
        <div class="metadata">
            Écrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}} ;
            <br/>
            Catégorie : {{ article.categorie }}
        </div>

        <div class="content">
            <img src="{{ article.image }}" alt="">
            <br/><br/>
            {{ article.entete | raw }}
        </div>

        <br/> 

        <div class="contenu">
            {{ article.contenu | raw }}
        </div>
    </article>
{% endblock %}